<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a210704_calculator03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.210704_Calculator03">
        <activity android:name=".RiekiActivity"/>
        <activity android:name=".MairuActivity"/>
        <activity android:name=".NengouActivity" />
        <activity android:name=".SyouhizeiActivity" />
        <activity android:name=".TanikansanActivity" />
        <activity android:name=".HeikinActivity"/>
        <activity android:name=".CalculatorActivity"/>
        <activity android:name=".tuukaActivity" >
        //ここから
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        //ここまで を起動時に開きたいアクティビティのタグ内に書き込む 参考
        https://qiita.com/okhiroyuki/items/8410433493c83ff6b4ca
        </activity>
        <activity android:name=".AmazonActivity"/>
        <activity android:name=".GenkaActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>